# Default owners for everything
* @{{GITHUB_ORG}}/maintainers

# Infrastructure
/chart/ @{{GITHUB_ORG}}/platform
/flux/ @{{GITHUB_ORG}}/platform
/.github/ @{{GITHUB_ORG}}/platform
Dockerfile* @{{GITHUB_ORG}}/platform

# Documentation
/docs/ @{{GITHUB_ORG}}/maintainers
*.md @{{GITHUB_ORG}}/maintainers